.navbar-brand {
  display: block;
  width: 96px;
  height: 31px;
  background-image: url("../images/DOYOGA-logo.png");
  background-size: cover;

  text-indent: 101%; /* 文字縮排，縮到超出 100% 來到外面 */
  white-space: nowrap; /* 空白字元不要換行，保持超出 */
  overflow: hidden; /* 超出部分隱藏 */
}

.banner {
  background-image: url("../images/photo-1612157777902-5382bc6e864b.jpeg");
  background-size: cover;
  background-position: center bottom;
  max-width: 100%;
  height: 100vh;
}

.img-cover {
  object-fit: cover;
}

.teaching-img {
  height: 628px;
}
